:root {
  /*main background*/
  --clr-very-dark-blue: hsl(233, 47%, 7%);
  /*card background*/
  --clr-dark-desaturated-blue: hsl(244, 38%, 16%);
  /*accent*/
  --clr-soft-violet: hsl(277, 64%, 61%);
  /*neutrals*/
  /*main-heading and stats*/
  --clr-white: hsl(0, 0%, 100%);
  /*main paragraph*/
  --clr-slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  /*stat headings*/
  --clr-slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

/*font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;*/

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background-color: var(--clr-very-dark-blue);
}

.main-container {
  min-height: 100vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: auto 32px;
}

h2 {
  font-size: 32px;
}

h1,
h2 {
  text-align: center;
  color: var(--clr-white);
}

.description {
  color: var(--clr-slightly-transparent-white-main);
  margin: 16px 42px 40px 42px;
  line-height: 2;
  text-align: center;
}

.stat-text {
  color: var(--clr-slightly-transparent-white);
  margin-top: -15px;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 1.5px;
}

.stats-card {
  height: 956px;
  width: 375px;
  border-radius: 15px;
  background-color: var(--clr-dark-desaturated-blue);
}

.img-container {
  background-image: url("./images/image-header-mobile.jpg");
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.img-container::before {
  background: hsla(277, 64%, 61%, 0.945);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 375px;
  content: "";
  position: absolute;
  height: inherit;
  opacity: 0.6;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.insight {
  color: var(--clr-soft-violet);
}

.numbers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  margin-bottom: 20px;
}

.item-1 {
  order: 1;
}
.item-2 {
  order: 2;
}
.item-3 {
  order: 3;
}
.item-4 {
  order: 4;
}
.item-5 {
  order: 5;
}
.item-6 {
  order: 6;
}

@media screen and (min-width: 1000px) {
  .stats-card {
    height: 446px;
    width: 1110px;
    display: flex;
  }

  .img-container {
    background-image: url("./images/image-header-desktop.jpg");
    background-size: contain;
    height: 446px;
    width: 540px;
    order: 2;
    margin-left: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
  }

  .img-container::before {
    width: 540px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 15px;
  }

  .info-container {
    width: 540px;
    height: 446px;
    text-align: left;
    order: 1;
  }

  .numbers-container {
    flex-wrap: wrap;
  }

  .stat-text {
    text-align: center;
  }

  .item {
    flex: 0 33%;
    margin-bottom: -1%; /* (100-32*3)/2 */
  }
}
